table, td, th{
	
	width: 50%;
	border: 2px solid blue;

}

th,td{
	text-align: left;
	padding: 8px;
}

th:hover{
	background-color: black;
}

tr:hover{
	background-color: red;
}

th:hover{
	background-color: gray;
	color: white;
}